{% extends 'base.html.twig' %}
{% block title %}Ajouter un avis{% endblock %}
{% block body %}
    <a class="bouton-arriere" href="{{ path('app_avis_lister') }}">Retourner en arrière</a>
    <h1>Ajouter une creche</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}