{% extends 'base.html.twig' %}

{% block title %}Liste des Contact Client{% endblock %}

{% block body %}
    <h1>Liste des Contact Client</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun contact client trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
