{% extends 'base.html.twig' %}
{% block title %}Modifier un Contact Client{% endblock %}
{% block body %}
    <a class="bouton-arriere" href="{{ path('app_contact_lister') }}">Retourner en arrière</a>
    <h1>Modifier un Personnel</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}